
.task {

  font-size: 20px;
  margin-top: 20px;
}

h3 {
  margin-top: 0px;
}
.remove {

  float: right;
}

.completed {
  text-decoration: line-through;
  opacity: .5;
}

.completed .btn{
  background-color: green;

}
